---
title: "{{artifactDescription}} : {{classname}}"
slug: "{{classname}}"
cover: ""
authors: "{{developerName}} {{developerEmail}}"
needsAuth: false
date: "{{generatorDate}}"
category: "{{artifactId}}"
tags: [
        {{appName}},
        {{basePackage}},
        {{classname}},
        api-docs
    ]
---

# {{classname}}{{#description}}
{{description}}{{/description}}
## {{artifactId}}
All URIs are relative to *{{basePath}}*

Method | HTTP request | Description
------------- | ------------- | -------------
{{#operations}}{{#operation}}[**{{operationId}}**](#{{operationId}}) | **{{httpMethod}}** {{classname}} | {{#summary}}{{summary}}{{/summary}} | **( swagger )[ https://loki.valkyrlabs.com:8081/swagger-ui/index.html#/{{baseName}}/{{operationId}} ]**{{/operation}}{{/operations}}


{{#operations}}
{{#operation}}
<a name="{{operationId}}"></a>
# **{{operationId}}**
> {{#returnType}} <h5>{{returnType}}</h5> {{/returnType}}{{operationId}}({{#allParams}}{{{paramName}}}{{#hasMore}}, {{/hasMore}}{{/allParams}})

{{summary}}{{#notes}}

{{notes}}{{/notes}}

### Example
```java
Import classes:{{#hasAuthMethods}}
import {{{invokerPackage}}}.ApiClient;{{/hasAuthMethods}}
import {{{invokerPackage}}}.ApiException;{{#hasAuthMethods}}
import {{{invokerPackage}}}.Configuration;
import {{{invokerPackage}}}.auth.*;{{/hasAuthMethods}}
import {{{package}}}.{{{classname}}};

{{#hasAuthMethods}}
ApiClient defaultClient = Configuration.getDefaultApiClient();
{{#authMethods}}{{#isBasic}}

// Configure HTTP basic authorization: {{{name}}}
HttpBasicAuth {{{name}}} = (HttpBasicAuth) defaultClient.getAuthentication("{{{name}}}");
{{{name}}}.setUsername("YOUR USERNAME");
{{{name}}}.setPassword("YOUR PASSWORD");{{/isBasic}}{{#isApiKey}}

// Configure API key authorization: {{{name}}}
ApiKeyAuth {{{name}}} = (ApiKeyAuth) defaultClient.getAuthentication("{{{name}}}");
{{{name}}}.setApiKey("YOUR API KEY");

// Uncomment the following line to set a prefix for the API key, e.g. "Token" (defaults to null)
//{{{name}}}.setApiKeyPrefix("Token");{{/isApiKey}}{{#isOAuth}}

// Configure OAuth2 access token for authorization: {{{name}}}
OAuth {{{name}}} = (OAuth) defaultClient.getAuthentication("{{{name}}}");
{{{name}}}.setAccessToken("YOUR ACCESS TOKEN");{{/isOAuth}}

{{/authMethods}}
{{/hasAuthMethods}}

{{{classname}}} apiInstance = new {{{classname}}}();
{{#allParams}}
{{{dataType}}} {{{paramName}}} = {{{example}}}; // {{{dataType}}} | {{{description}}}
{{/allParams}}

try {
    {{#returnType}}{{{returnType}}} result = {{/returnType}}apiInstance.{{{operationId}}}({{#allParams}}{{{paramName}}}{{#hasMore}}, {{/hasMore}}{{/allParams}});{{#returnType}}
    System.out.println(result);{{/returnType}}
} catch (ApiException e) {
    System.err.println("Exception when calling {{{classname}}}#{{{operationId}}}");
    e.printStackTrace();
}
```

### Parameters
{{^allParams}}This endpoint does not need any parameter.{{/allParams}}{{#allParams}}{{#-last}}
Name | Type | Description  | Notes
------------- | ------------- | ------------- | -------------{{/-last}}{{/allParams}}
{{#allParams}} **{{paramName}}** | {{#isPrimitiveType}}**{{dataType}}**{{/isPrimitiveType}}{{^isPrimitiveType}}{{#isFile}}**{{dataType}}**{{/isFile}}{{^isFile}}[**{{dataType}}**]({{baseType}}){{/isFile}}{{/isPrimitiveType}}| {{description}} |{{^required}} [optional]{{/required}}{{#defaultValue}} [default to {{defaultValue}}]{{/defaultValue}}{{#allowableValues}} [enum: {{#values}}{{{.}}}{{^-last}}, {{/-last}}{{/values}}]{{/allowableValues}}
{{/allParams}}

### Return type

{{#returnType}}{{#returnTypeIsPrimitive}}**{{returnType}}**{{/returnTypeIsPrimitive}}{{^returnTypeIsPrimitive}}[**{{returnType}}**](../model-docs/model-doc-{{returnBaseType}}){{/returnTypeIsPrimitive}}{{/returnType}}{{^returnType}}null (empty response body){{/returnType}}

### Authorization

{{^authMethods}}No authorization required{{/authMethods}}{{#authMethods}}[{{name}}](../README.md#{{name}}){{^-last}}, {{/-last}}{{/authMethods}}

### HTTP request headers

 - **Content-Type**: {{#consumes}}{{{mediaType}}}{{#hasMore}}, {{/hasMore}}{{/consumes}}{{^consumes}}Not defined{{/consumes}}
 - **Accept**: {{#produces}}{{{mediaType}}}{{#hasMore}}, {{/hasMore}}{{/produces}}{{^produces}}Not defined{{/produces}}

{{/operation}}
{{/operations}}

### Generated Version Details

~ | value
------------- | -------------
**GENERATOR VERSION** | {{groupId}}:{{artifactDescription}} {{artifactVersion}}
**API ARTIFACT** | {{groupId}}.{{artifactId}}.jar
**GENERATOR VERSION** | org.openapitools.openapi-generator:{{{generatorVersion}}}
**GENERATOR CLASS** | {{generatorClass}}
**GENERATED DATE** | {{generatedDate}}
